<!DOCTYPE html>
<html>
<head>
    <title>Productos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #2b0548;
        }
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }
        h2 {
            color: #0000ff;
            font-size: 24px;
            margin-bottom: 10px;
        }
        p {
            color: #333333;
            font-size: 16px;
            margin-bottom: 10px;
        }
        img {
            max-width: 100%;
            height: auto;
            margin-bottom: 20px;
        }
        hr {
            border: 1px solid #cccccc;
            margin-bottom: 30px;
        }
    </style>
</head>
<body>
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" class="rounded">
            </a>
    
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="btn btn-light mx-1">Buy</a></li>
                <li><a href="/about" class="btn btn-light mx-1">About</a></li>
            </ul>
        </header>
    </div>
    
    <div class="container">
        {% for key, producto in productos.items() %}
            <div class="card">
                <div class="card-body">
                    <h2>{{ producto.nombre }}</h2>
                    <p>{{ producto.descripcion }}</p>
                    <p>Precio: ${{ producto.precio }}</p>
                    <img src="{{ producto.imagen }}" alt="{{ producto.nombre }}" onclick="scrollToNext(this,'{{ producto.nombre }}. {{ producto.descripcion }}. Precio: {{ producto.precio }} dólares.')">
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal{{ key }}" onclick="speak('Vas a comprar {{ producto.nombre }}, {{ producto.descripcion }}. Por un valor de  {{ producto.precio }} dólares.')">Comprar</button>
                </div>
            </div>
            <hr>

            <!-- Modal -->
            <div class="modal fade" id="modal{{ key }}" tabindex="-1" role="dialog" aria-labelledby="modalTitle{{ key }}" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalTitle{{ key }}">Comprar {{ producto.nombre }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>{{ producto.nombre }}</p>
                            <p>{{ producto.descripcion }}</p>
                            <p>Precio: ${{ producto.precio }}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="speak('Ver productos.')">Cerrar</button>
                            <button type="button" class="btn btn-primary" onclick="speak('Compraste {{ producto.nombre }}.')" data-dismiss="modal">Comprar</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function speak(text) {
            return new Promise(function(resolve, reject) {
                var msg = new SpeechSynthesisUtterance();
                var voices = window.speechSynthesis.getVoices();
                var spanishVoices = voices.filter(function(voice) { return voice.lang === 'es-ES'; });
                if (spanishVoices.length > 0) {
                    msg.voice = spanishVoices[0];
                }
                msg.text = text;

                msg.onend = function() {
                    resolve(); // Resuelve la promesa cuando la síntesis de voz se completa
                };

                window.speechSynthesis.speak(msg);
            });
        }


        function scrollToNext(element, text) {
            speak(text).then(function() {
                var nextElement = element.nextElementSibling;
                if (nextElement !== null) {
                    nextElement.scrollIntoView({ behavior: 'smooth' });
                }
            });
        }
    </script>
    <!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
